/* POPUP */
[popover] {
  padding: 1rem;

  max-height: 90vh;
  max-width: 90wh;
  width: 60ch;
}

[popover] button {
  position: sticky;
  top: 0;
  justify-self: end;
}

:popover-open {
  display: grid;
}

::backdrop {
  background: #0001;
}

[popover] {
  opacity: 0;
  transition: 1s allow-discrete;
  scale: 0.8;
}

:popover-open {
  opacity: 1;
  scale: none;
}

@starting-style {
  :popover-open {
    opacity: 0;
  }
}

::backdrop {
  background: #0001;
  opacity: 0;
  transition: 0.3s allow-discrete;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}

/* ACCORDION */
details {
  outline: 2px solid #000;
}

summary {
  background: #eee;
  cursor: pointer;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.content p {
  margin: 0;
}

summary::marker {
  content: none;
}

summary {
  display: flex;
  align-item: center;
  justify-content: space-between;
}

summary::after {
  content: "+";
}

[open] summary::after {
  content: "-";
}

html {
  interpolate-size: allow-keywords;
}

::details-content {
  height: 0;
  transition: 0.5s allow-discrete;
  overflow: clip;
}

[open]::details-content {
  height: auto;
}
