#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
}
.info-graphic {
  border-radius: 0;
  margin: 60px auto 80px auto;
}
.info-text h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-text);
  margin-bottom: 1rem;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.info-box {
  margin-top: 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  max-width: 500px;
  border-radius: 10px;
  font-family: sans-serif;
  transition: 0.3s;
}
.info-box:nth-of-type(2n) {
  background-color: var(--color-card-bg-inverted);
}

#_Moon_ {
  --moon-scale: 1;
  animation: moonFloat 6s ease-in-out infinite;
  transform-origin: center;
}

@keyframes moonFloat {
  0% {
    transform: translateY(-8px) scale(var(--moon-scale));
  }
  50% {
    transform: translateY(-18px) scale(var(--moon-scale));
  }
  100% {
    transform: translateY(-8px) scale(var(--moon-scale));
  }
}

.moon-size {
  transform: translateY(5px) scale(10);
}

#_Blanket_ {
  animation: blanketFloat 2.5s ease-in-out infinite;
  transform-origin: center;
}

@keyframes blanketFloat {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#_Mirror_ {
  animation: mirrorFloat 7s ease-in-out infinite;
  transform-origin: center;
  transition: 0.3s;
}

@keyframes mirrorFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#_Blanket_:hover,
#_Moon_:hover,
#_Mirror_:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
